@font-face {
  font-family: "Cormorant Garamond";
  src: url("/assets/fonts/CormorantGaramond-Regular.ttf");
}

@font-face {
  font-family: "DM Serif Display";
  src: url("/assets/fonts/DMSerifDisplay-Regular.ttf");
}

@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/Mulish-Regular.ttf");
}

@font-face {
  font-family: "Mulish Bold";
  src: url("/assets/fonts/Mulish-Bold.ttf");
}

$seaweed:   #087E8B; /* turquoise */
$sizzle:    #FF5A5F; /* red */
$jet:       #3C3C3C; /* black */
$eggshell:  #F4F1DE; /* white */
$lavender:  #C1839F; /* purple */
$tcotta:    #E07A5F; /* orange red */
$indep:     #3D405B; /* blue */
$sheen:     #81B29A; /* green */
$champagne: #F2CC8F; /* yellow */

html, html[data-theme="default"] {
  --main-background-color: #3C3C3C; //jet
  --main-text-color: #F4F1DE; //eggshell
  --main-link-color: #F2CC8F; //champagne
  --main-nav-color: #F4F1DE; //eggshell
  --main-nav-text: #3D405B; //indep
  --inactive-nav-hover: #F2CC8F; //champagne
  --active-nav-color: #E07A5F; //tcotta
  --active-nav-text: #F4F1DE; //eggshell
  background-color: var(--main-background-color);
}

html[data-theme="light"] {
  --main-background-color: #F4F1DE; //eggshell
  --main-text-color: #3C3C3C; //jet
  --main-link-color: #3D405B; //indep
  --main-nav-color: #F2CC8F; //champagne
  --main-nav-text: #3D405B; //indep
  --inactive-nav-hover: #F4F1DE; //eggshell
  --active-nav-color: #E07A5F; //tcotta
  --active-nav-text: #F4F1DE; //eggshell
  background-color: var(--main-background-color);
}

html[data-theme="fancy"] {
  --main-background-color: #F4F1DE; //eggshell
  --main-text-color: #3C3C3C; //jet
  --main-link-color: #3D405B; //indep
  --main-nav-color: #F2CC8F; //champagne
  --main-nav-text: #3D405B; //indep
  --inactive-nav-hover: #F4F1DE; //eggshell
  --active-nav-color: #E07A5F; //tcotta
  --active-nav-text: #F4F1DE; //eggshell
  background: repeating-linear-gradient(
    45deg,
    #3D405B,
    #3D405B 20px,
    #FF5A5F 20px,
    #FF5A5F 40px,
    #81B29A 40px,
    #81B29A 60px,
    #E07A5F 60px,
    #E07A5F 80px
  );
}

html[data-theme="logo"] {
  --main-background-color: white;
  --main-text-color: #3C3C3C; //jet
  --main-link-color: #3D405B; //indep
  --main-nav-color: #F2CC8F; //champagne
  --main-nav-text: #3D405B; //indep
  --inactive-nav-hover: #F4F1DE; //eggshell
  --active-nav-color: #E07A5F; //tcotta
  --active-nav-text: #F4F1DE; //eggshell
  background: url(/assets/img/favicon.png);
}

body {
  color: var(--main-text-color);
  font-family: "Mulish";
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: var(--main-background-color);
  width: 80%;
  margin: auto;
  font-size: 0.5em;
  margin-bottom: 1em;
  text-align: right;
  flex: 0 1 auto;
}

.content {
  background-color: var(--main-background-color);
  width: 80%;
  margin: auto;
  padding: 5% 0% 5% 0%;
  flex: 1;
}

.content-box {
  padding: 0 0 0 20px;
}

.fancytitle {
  font-family: "DM Serif Display";
}

.fancyheader {
  font-family: "DM Serif Display";
}

.emphasize {
  font-family: "Mulish Bold";
}

a {
  color: var(--main-link-color);
}

i {
  color: var(--main-text-color);
}

select {
  font-family: "Mulish";
  background-color: $eggshell;
  border: 1px solid $jet;
  border-radius: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  height: 2em;
}

nav {
  background-color: var(--main-nav-color);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 80%;
  font-size: 1.5em;
  font-family: "DM Serif Display";
  border-radius: 0px 0px 0.25em 0.25em;
  flex: 0 1 auto;
}

.nav-content {
  padding: 0% 10% 0% 10%;
}

nav a {
  float: left;
  color: var(--main-nav-text);
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

.inactive-nav:hover {
  background-color: var(--inactive-nav-hover);
  border-radius: 0px 0px 0.25em 0.25em;
  transition: 0.5s;
}

.current-nav {
  background-color: var(--active-nav-color);
  color: var(--active-nav-text);
  border-radius: 0px 0px 0.25em 0.25em;
}

.headshot {
  width: 20%;
  border-radius: 50%;
  float: right;
  position: relative;
  padding: 5%;
}

.table-icon {
  text-align: center;
}

.medium-list {
  list-style-type: none;
}

.medium-link {
  font-family: "Cormorant Garamond";
  text-decoration: none;
  font-size: 1.5em;
}

.medium-text {
  display: block;
  padding-left: 2%;
}

.resource-list {
  list-style-type: none;
}

.resource-link {
  font-family: "Cormorant Garamond";
  text-decoration: none;
  font-size: 1.5em;
}

.resource-doc {
  text-decoration: none;
  padding-left: 2%;
  font-size: 1em;
}

.resource-text {
  display: block;
  padding-left:2%
}

button {
  font-family: "Mulish Bold";
  background-color: $sheen;
  color: $eggshell;
  border: 1px solid $jet;
  border-radius: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  height: 2em;
}
