.userinput {
    width: 60%;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

#walphastring {
    width: 49%;
    margin-right: 2%;
}

#paramstring {
    width: 40%;
    margin-left: 2%;
    margin-right: 2%;
}

.walphabutton {
    width: 10%;
    min-height: 100px;
    min-width: 100px;
    max-height: 150px;
    max-width: 150px;
    margin: 10px;
}

.submit {
    width: 100px;
}

.input-container {
    padding: 20px;
}

.app-text {
    font-family: "Lato", sans-serif;
    text-align: center;
}

.app-container {
    padding: 0px 120px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}