@import url(http://fonts.googleapis.com/css?family=Lato); /* FREE GOOGLE FONT */
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300); /* FREE GOOGLE FONT */

body {
    font-family: "Open Sans Condensed", sans-serif;
}

.logo {
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo-container {
    padding-bottom: 20px;
}

.btn-enter {
    font-size: 2em;
    background-color: #ffd42a;
    color: black;
    height: 75px;
    width: 150px;
    padding: 0px;

    transition: all .2s  ease-in-out;
}

.btn-enter:hover {
    border-style: solid;
    border-width: 1px;
    border-color: #ffd42a;
    background-color: #ffeeaa;
}

.btn-text {
    line-height: 75px;
}

.text-body {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Lato", sans-serif;
    text-align: center;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.container {
    padding: 80px 120px;
}

.center {
    margin: auto;
    width: 50%;
}

.nav-pills {
    font-size: 3em;
    text-align: center;
}

.nav-pills li.active a, .nav-pills li.active a:focus, .nav-pills li.active a:hover {
    background-color: white;
    color: #ffd42a;
}

.nav-pills li a {
    color: gray;
}

.nav-pills li a:hover {
    background-color: white;
    color: #ffeeaa;
}

.nav-pills #resume {
    background-color: #ffeeaa;
    transition: all .5s ease-in-out;
}

.nav-pills #resume:hover {
    background-color: #ffd42a;
    color: gray;
}

.tab-pane {
    padding-top: 20px;
}

.title-text {
    text-align: right;
    display: inline;

    float: right;
    position: relative;
    right: 20px;
    line-height: 100px;
}

.portfolio {
    padding: 10px;
    height: 100px;

    display: inline;
    text-align: right;
}

.pf-panel {
    transition: all .2s ease-in-out;

    background-color: white;

    border-style: solid;
    border-width: 1px;
    border-color: #ffd42a;
    border-radius: 3px;

    margin: 0;


}

.pf-sub {
    border-width: 1px;
    border-color: #ffd42a;
    border-radius: 0px;
    font-size: 2em;
}

.pf-panel:hover {
    transform: scale(1.05);
}

.pf-content {
    color: black;
    display: inline;
}

.portfolio-break {
    font-size: 2em;
    padding-bottom: 10px;

    background-color: #ffeeaa;

    text-align: center;

    height: 50px;
    line-height: 50px;
}

.about {
    font-size: 2em;
}

.contact-link {
    font-size: 1em;
    color: black;
}

.contact-link:hover {
    color: #ffd42a;
}

.footer {
    padding-bottom: 10px;
}

@media screen and (max-width: 650px) {

    .portfolio {
        max-width: 80%;
        max-height: 80%;
    }

    .title-text {
        text-align: right;

        float: right;
        position: relative;
        right: 20px;
        line-height: 100px;
        font-size: .7em;
    }

    .row {
        width: 100%;

        margin: auto;
    }

    .tab-pane {

        padding: 10px;
    }

    .tab-content {
        padding: 10px;
    }
}